{% extends 'task/home.html'%}


{%block taskContent%}

<div class="row">
    <div class="col-md-8 col-sm-10 border px-5 py-3 mx-auto">
        <h3 class="text-center pb-3">Task Details</h3>
        <div class="px-5">
            <div>
                
            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>
</div>

{% endblock%}