{% extends 'task/home.html'%}


{% block taskContent%}

	<div class="row mx-5 ">
		<div class="col-sm-12 col-md-10 mx-auto">
			<h3 class="text-center">All Task List</h3>
			<div class="d-flex justify-content-end">
				<a href="{% url 'add-task' %}" class="btn btn-primary">Create Task</a>
			</div>
			<div class="">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Title</th>
                            <th>Action</th>
						</tr>
					</thead>
					<tbody>
                        {% for t in task%}
						<tr>
							<td>{{t.title}}</td>
                            <td>
                                <a href="{% url '' pk=t.id %}" class="btn btn-outline-primary btn-sm mx-2">Details</a>
                                <a href="{% url '' pk=t.id %}" class="btn btn-outline-success btn-sm mx-2">Edit</a>
                                <a href="{% url '' pk=t.id %}" class="btn btn-outline-danger btn-sm mx-2">Delete</a>
                            </td>
						</tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{%endblock%}