{% extends 'task/home.html'%}


{% block taskContent%}

<div class="row mx-5 ">
    <div class="col-sm-12 col-md-10 mx-auto">
        <h3 class="text-center">All Task List</h3>
        <div class="d-flex justify-content-end">
            <a href="{% url 'add-task' %}" class="btn btn-primary">Create Task</a>
        </div>
        <div class="">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in task%}
                    <tr>
                        <td>{{t.title}}</td>
                        <td>

                            <a href="{% url 'details-task' pk=t.id %}"
                                class="btn btn-outline-primary btn-sm mx-2">Details</a>
                            <a href="{% url 'edit-task' pk=t.id %}" class="btn btn-outline-success btn-sm mx-2">Edit</a>
                            <!-- <form class="d-inline" method="POST" action="{% url 'delete-task' pk=t.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm mx-2">Delete</button>
                            </form> -->
                            <button type="button" class="btn btn-outline-danger btn-sm mx-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Delete
                              </button>

                        </td>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body my-4">
                                        <div class="pt-3">
                                            <h2  class="text-center">Are you sure?</h2>
                                            <h5 class="text-center py-2">You want to delete this!</h5>
                                            <div class="my-4 d-flex justify-content-center align-items-center gap-3">
                                                <!-- <button type="button" class="btn btn-primary">Yes, delete it!</button> -->
                                                <form class="d-inline" method="POST" action="{% url 'delete-task' pk=t.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Yes, delete it!</button>
                                                </form> 
                                                <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{%endblock%}